:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --main-font: "Playfair Display";
  --default-font: "Poppins";
}

body {
  font-family: var(--default-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}

.hero {
  background: var(--primary-color);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #272142;
}

.hero h1 {
  font-size: 96px;
  font-weight: 700;
  color: black;
}

.hero h2 {
  font-weight: 400;
  font-size: 24px;
  color: black;
  line-height: 2;
}

a.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
