:root {
  --primary-color: #f9f7fe;
  --secondary-color: #d89282;
  --main-font: "Playfair Display";
  --default-font: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}

.container h2,
h1.text-center {
  font-size: 60px;
  font-weight: 700;
}
p {
  font-family: var(--default-font);
}

.hero {
  background: var(--primary-color);
  padding: 0 20px 60px;
}

.hero p {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: #272142;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
  color: black;
}
.about-section-content h1{
  font-size: 40px;
}
.hero h3 {
  font-weight: 400;
  font-size: 26px;
  color: black;
  line-height: 2;
}

.content h3 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

a.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.navbar-expand-lg {
  background: var(--primary-color);
  padding: 0 150px !important;
}
nav.work {
  background: none;
}

@media (max-width: 960px) {
  .hero h1,
  .content h1 {
    font-size: 40px;
  }

  p.project {
    font-size: 26px;
    margin-bottom: 0 !important;
  }
  p.project-description,.about-section p {
    margin-bottom: 48px;
    font-size: 14px;
  }
  .hero h3 {
    font-size: 20px;
    margin-bottom: 10px !important;
  }
  .navbar-expand-lg {
    padding: 10px !important;
  }
  .hero {
    padding-bottom: 10px !important;
  }
  .container h2 {
    font-size: 44px;
    font-weight: 700;
  }
  div.project-div, .about-section {
    text-align: center;
  }
}

.text-muted {
  color: #6c757d !important;
}

a.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.fa-hand {
  color: var(--secondary-color);
}
.nav-link.active {
  color: var(--secondary-color) !important;
}



#typing-text {
  display: inline-block;
  font-size: 20px;
}

.cursor {
  display: inline-block;
  width: 0;
  font-size: 24px;
  color: #d89282;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
